{# Copyright (c) Meta Platforms, Inc. and affiliates. #}
<button type="button" class="btn btn-light" data-bs-toggle="modal"
    data-bs-target="#add-content-modal-{{bank_title}}">Add content</button>
<!-- Modal -->
<div class="modal fade" id="add-content-modal-{{bank_title}}" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-xl" style="width: 60%; max-width: none;">
        <div class="modal-content modal-xl" style="padding: 20px">
            <form id="add_content_to_bank_{{ bank_title }}">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">Add Content: {{ bank_title }}</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Toggle between file upload and hash input -->
                    <div class="row mb-3">
                        <div class="col">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="add_input_type_{{ bank_title }}" id="add_input_file_{{ bank_title }}" value="file" checked>
                                <label class="form-check-label" for="add_input_file_{{ bank_title }}">Upload File</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="add_input_type_{{ bank_title }}" id="add_input_hash_{{ bank_title }}" value="hash">
                                <label class="form-check-label" for="add_input_hash_{{ bank_title }}">Enter Hash</label>
                            </div>
                        </div>
                    </div>
                    
                    <!-- File upload section -->
                    <div class="row" id="add_file_section_{{ bank_title }}">
                        <div class="col">
                            <select id="bank-add-content-type-{{ bank_title }}" class="form-select" name="content_type">
                                <option selected disabled value="">Select content type</option>
                                {% for c in content %}
                                {% if c['enabled'] %}
                                <option value="{{c['name']}}">{{c['name'].capitalize()}}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col">
                            <input id="bank-add-file-input-{{ bank_title }}" class="form-control" type="file"
                                name="file">
                        </div>
                    </div>
                    
                    <!-- Hash input section -->
                    <div class="row d-none" id="add_hash_section_{{ bank_title }}">
                        <div class="col">
                            <input class="form-control" type="text" name="hash" id="bank-add-hash-input-{{ bank_title }}" placeholder="Enter hash value" />
                        </div>
                        <div class="col">
                            <select class="form-select" name="signal_type" id="bank-add-signal-type-{{ bank_title }}">
                                <option selected disabled value="">Select signal type</option>
                                {% for s in signal %}
                                    {% if s['enabled_ratio'] > 0 %}
                                        <option value="{{s['name']}}">{{s['name'].upper()}}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Add</button>
                </div>
            </form>
            <div id="hash_result_{{ bank_title }}">
                <!-- Added to by javascript -->
            </div>
        </div>
    </div>
</div>